# macOS
.DS_Store

# Xcode user state
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Build artifacts
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM
*.xcresult
*.xcarchive

# Test/profiling output
*.profraw
*.gcda
*.gcno

# Swift Package Manager
.swiftpm/
.build/
